body, html {
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-text {
  color: chartreuse;
}

.primary-nav a {
  color: chartreuse;
  margin-left: 10px;
}